<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <Button>Subcribe</Button>
            <h2>Độ Khó: {{course.level}}</h2>
        </div>

        <div class="col-lg-9">
            <h1>{{course.title}}</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoID}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
    </div>
</div>